* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */

header {
    background-color: #034f84;
    padding: 20px;
    text-align: center;
}
.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.column {
    float: left;
    width: 100%;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:760px) {
    .column {
        width: 100%;
    }
    .topnav{
        display:flex;
        flex-direction: column;
        border-width: 2px 740px 2px;
    }
    .bottomnav{
        display:flex;
        flex-direction: column;
        border-width: 2px 740px 2px;
    }

}

footer{
    background-color: #034f84;
    padding:100px;
    text-align: center;
    color: white;
}
.bottomnav {
    overflow: hidden;
    /* background-color: #333; */
}

.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align:center;
    padding: 0.5em;
    text-decoration: none;
}
.bottomnav a:hover {
    background-color: #ddd;
    color: black;
}

.bottomnav2 {
    overflow: hidden;
    /* background-color: #333; */
}